<style>
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

  /* .des {
    border-bottom: 1px solid black;
  } */

  .head_sec th {
    text-align: left;
  }
</style>

<title>PDFs - Work Permit</title>
<%# file name %>
<table width="100%">
  <thead>
    <tr>
      <th width="10%">logo</th>
      <th width="80%">ใบอนุญาตทำงานในที่อับอากาศ<br>
        (CONFINED SPACES WORK PERMIT)</th>
      <th width="10%">ประจำปี: <br>
        แก้ไขครั้งที่: <br>
        หน้าที่: </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="3" class="des">คำชี้แจง : การกรอกรายละเอียดในใบขออนุญาตปฏิบัติงาน
        <br>
        ส่วนที่ 1 - 4 กรอกโดย ผู้ควบคุมการทำงานในที่อับอากาศ
        (ต้องผ่านการอบรมและมีเอกสารแสดงการผ่านการอบรมอับอากาศ)
        <br>
        ส่วนที่ 5 - 6 พื้นที่สำหรับรายการเซ็นอนุมัติและรับทราบของผู้ที่เกี่ยวข้อง
        ผู้รับเหมาต้องขอนุญาตทํางานในที่อับอากาศกับฝ่ายความปลอดภัยฯ
        ของกลุ่มบริษัทพีทีจีเอ็นเนอยี่ เท่านั้น
        ซึ่งจะต้องได้รับการเซ็นอนุญาตก่อนจึงจะสามารถเริ่มงานได้
        ห้ามผู้รับเหมาทํางานโดยไม่ได้รับอนุญาตเด็ดขาด
      </td>
    </tr>
  </tbody>
</table>
<%# form name, คำชี้แจง %>
<table width="100%">
  <tbody>
    <tr>
      <td colspan="4">ผู้ขออนุญาต(บริษัท/หจก.)</td>
      <td>สาขา</td>
      <td>จังหวัด</td>
    </tr>
    <tr>
      <td colspan="3">ชื่อผู้ขออนุญาต</td>
      <td>เบอร์โทรศัพท์</td>
    </tr>
    <tr>
      <td>วันที่ปฏิบัติงาน</td>
      <td>เริ่มเวลา</td>
      <td>ถึง</td>
      <td>น.</td>
    </tr>
    <tr>
      <td colspan="2">ชื่อผู้ควบคุมงาน</td>
      <td>บริษัท</td>
      <td>เบอร์โทรศัพท์</td>
    </tr>
    <tr class="des">
      <td>ชื่องาน</td>
      <td>บริเวณที่ทำงาน</td>
      <td>จำนวนผู้ทำงาน</td>
      <td>คน</td>
    </tr>
  </tbody>
</table>
<%# desc form %>
<table width="100%">
  <thead>
    <tr class="head_sec">
      <th colspan="4">ส่วนที่ 1 อุปกรณ์ป้องกันอันตรายส่วนบุคคล</th>
    </tr>
  <thead>
  <tbody>
    <tr>
      <td>
        <input type="checkbox">
          หมวกนิรภัย
      </td>
      <td>
        <input type="checkbox">
          เข็มขัดนิรภัย
      </td>
      <td colspan="2">อุปกรณ์ป้องกันอันตราย/อุปกรณ์ระงับเหตุฉุกเฉิน</td>
    </tr>
    <tr>
      <td>
        <input type="checkbox">
          รองเท้านิรภัย
      </td>
      <td>
        <input type="checkbox">
          อุปกรณ์สื่อสาร
      </td>
      <td>
        <input type="checkbox">
          SCBA
      </td>
      <td>
        <input type="checkbox">
          รอกดึงตัว/เชือก
      </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox">
          แว่นตานิรภัย
      </td>
      <td>
        <input type="checkbox">
          Ear plug/Ear muff
      </td>
      <td>
        <input type="checkbox">
          เครื่องตรวจวัดสารเคมี
      </td>
      <td>
        <input type="checkbox">
          แตรหรือนกหวีด
      </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox">
          หน้ากากเชื่อม
      </td>
      <td>
        <input type="checkbox">
          อุปกรณ์อื่นๆ
      </td>
      <td>
        <input type="checkbox">
          อุปกรณ์ในการดับเพลิง
      </td>
      <td>
        <input type="checkbox">
          อุปกรณ์อื่นๆ
      </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox">
          ถุงมือนิรภัย
      </td>
      <td>
          ระบุ
      </td>
      <td>
        <input type="checkbox">
          เสื้อทนไฟ
      </td>
      <td>
          ระบุ
      </td>
    </tr>
  </tbody>
</table>
<%# sect 1 %>
<table width="100%">
  <thead>
    <tr class="head_sec">
      <th colspan="4">ส่วนที่ 2 รายการตรวจสอบเพื่อความปลอดภัยก่อนเริ่มงาน</th>
    </tr>
    <tr>
      <th>ข้อ</th>
      <th>รายละเอียด</th>
      <th>ผ่าน</th>
      <th>ไม่ผ่าน</th>
      <th>N/A</th>
      <th>หมายเหตุ</th>
    </tr>
  <thead>
  <tbody>
    <tr>
      <td></td>
    </tr>
  </tbody>
</table>
<%# sect 2 %>
